.sas-login-container {
	display: flex;
	flex-direction: column;
	width: 500px;
	margin: 0 auto;
}

.sas-login-container > form > button[type="submit"] {
	width: 30%;
}

.sas-login-container > form > * {
	width: 100%;
}
