<div class="sas-login-container">
	<mat-toolbar>Generate Session ID</mat-toolbar>
	<form (ngSubmit)="onSubmit()" #sasLoginForm="ngForm">
		<mat-form-field floatLabel="auto">
			<input matInput placeholder="Username" name="username" [(ngModel)]="loginParams.username" [formControl]="usernameFormCtrl">
			<mat-error *ngIf="usernameFormCtrl.hasError('required')">
				Username should not be empty
			</mat-error>
		</mat-form-field>
		<mat-form-field floatLabel="auto">
			<input type="password" matInput placeholder="Password" [(ngModel)]="loginParams.password" name="password" [formControl]="passwordFormCtrl">
			<mat-error *ngIf="passwordFormCtrl.hasError('required')">
				Password should not be empty
			</mat-error>
		</mat-form-field>
		<mat-form-field floatLabel="auto">
			<input matInput placeholder="SessionID" [(ngModel)]="loginParams.sessionId" disabled name="sessionId">
		</mat-form-field>
		<button type="submit" mat-raised-button color="primary" [disabled]="usernameFormCtrl.hasError('required') || passwordFormCtrl.hasError('required') || disableSubmit">Submit</button>
	</form>
</div>