<div class="esmsearch-container">
	<mat-toolbar>Elastic MultiSearch</mat-toolbar>
	<form (ngSubmit)="onSubmit()" #cmQueueForm="ngForm">
		<mat-form-field floatLabel="auto">
				<input matInput [matDatepicker]="startDate" [min]="minDate" [max]="maxDate" name="startDate" placeholder="Start Date" [formControl]="startDateCtrl">
					<mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
				<mat-datepicker #startDate disabled="false"></mat-datepicker>
				<mat-error *ngIf="startDateCtrl.hasError('notValidDate')">
					Start Date should be in validate date format. Use the datepicker button.
				</mat-error>
			</mat-form-field>
	
			<mat-form-field floatLabel="auto">
				<input matInput [matDatepicker]="endDate" [min]="minDate" [max]="maxDate" name="endDate" placeholder="End Date" [formControl]="endDateCtrl">
					<mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
				<mat-datepicker #endDate disabled="false"></mat-datepicker>
				<mat-error *ngIf="endDateCtrl.hasError('notValidDate')">
					End Date should be in validate date format. Use the datepicker button.
				</mat-error>
			</mat-form-field>
	
			<mat-form-field floatLabel="auto">
				<input matInput placeholder="EntityID" name="entityid" [(ngModel)]="entityID" [formControl]="entityIDFormCtrl">
				<mat-error *ngIf="entityIDFormCtrl.hasError('required') || entityIDFormCtrl.hasError('notNumber')">
					EntityID should be a number.
				</mat-error>
			</mat-form-field>
			<button type="submit" mat-raised-button color="primary" [disabled]="disableSubmit">Submit</button>
	</form>
</div>

<!--
<div class="esmsearch-container-results" *ngIf="searchResults">
		<pre class="json">{{ searchResults | json }}</pre>
</div>
-->

<div class="esmsearch-container-results-table" *ngIf="searchResultsTableDS">
		<div class="blankspacebaby"></div>
		<div class="filter-container">
		<mat-form-field floatLabel="auto">
				<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter Results">
		</mat-form-field>
		</div>
		<mat-table [dataSource]="searchResultsTableDS">

			<ng-container matColumnDef="timestamp">
				<mat-header-cell *matHeaderCellDef>timestamp</mat-header-cell>
				<mat-cell *matCellDef="let result"> {{ result._source['@timestamp'] }} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="type">
				<mat-header-cell *matHeaderCellDef>type</mat-header-cell>
				<mat-cell *matCellDef="let result"> {{ result._type }} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="environment/channel">
				<mat-header-cell *matHeaderCellDef>environment/channel</mat-header-cell>
				<mat-cell *matCellDef="let result"> {{ result._source.environment || result._source.channel }} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="level/severity">
				<mat-header-cell *matHeaderCellDef>level/severity</mat-header-cell>
				<mat-cell *matCellDef="let result"> {{ result._source.level || result._source.severity }} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="server">
				<mat-header-cell *matHeaderCellDef>server</mat-header-cell>
				<mat-cell *matCellDef="let result"> {{ result._source.server }} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="service">
				<mat-header-cell *matHeaderCellDef>service</mat-header-cell>
				<mat-cell *matCellDef="let result"> {{ result._source.service }} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="eventid">
					<mat-header-cell *matHeaderCellDef>eventid</mat-header-cell>
					<mat-cell *matCellDef="let result"> {{ result._source.eventID }} </mat-cell>
				</ng-container>
			
			<ng-container matColumnDef="source">
					<mat-header-cell *matHeaderCellDef class="source-column">source</mat-header-cell>
					<mat-cell *matCellDef="let result" class="source-column">
						<button mat-button color="primary" (click)="showMore(result)">
							<mat-icon svgIcon="more"></mat-icon>
						</button>
					</mat-cell>
			</ng-container>

			<mat-header-row *matHeaderRowDef="searchResultsColumns"></mat-header-row>
    		<mat-row *matRowDef="let row; columns: searchResultsColumns;"></mat-row>

		</mat-table>
</div>
