.esmsearch-container {
	display: flex;
	flex-direction: column;
	width: 500px;
	margin: 0 auto;
}

mat-form-field {
	width: 100%
}

.esmsearch-container-results {
	width: 85%;
	margin: 0 auto;
}

.esmsearch-container-results-table {
	width: 100%;
	margin: 0 auto;
	display: none;
}

.showSearchResultsTable {
	display: block;
}

.esmsearch-container-results-table .mat-cell {
	font-size: 12px;
}

.filter-container {
	min-height: 64px;
	padding: 8px 24px 0;
	max-width: 400px;
}

.source-column {
	text-align: center;
}