.cmqueue-container {
	display: flex;
	flex-direction: column;
	width: 500px;
	margin: 0 auto;
}

mat-form-field {
	width: 100%
}

.cmqueue-container-mdx2 {
	display: flex;
	flex-direction: column;
	width: 1200px;
	margin: 10px auto;
}

 .cmqueue-container-sas {
	width: 95%;
	margin: 0 auto;
}

.json {
	font-size: 1em;
}

.source-column {
	text-align: center;
}