<div class="cmqueue-container">
	<mat-toolbar>Entity Sync Logs</mat-toolbar>
	<form (ngSubmit)="onSubmit()" #cmQueueForm="ngForm">
		<mat-form-field floatLabel="auto">
				<mat-select placeholder="Platform" name="platform" [(ngModel)]="selectedPlatform" [formControl]="platformFormCtrl">
					<mat-option *ngFor="let platform of platforms" [value]="platform.value">
						{{ platform.viewValue }}
					</mat-option>
				</mat-select>
				<mat-error *ngIf="platformFormCtrl.hasError('required')">
					Platform should not be empty
				</mat-error>
		</mat-form-field>
		<mat-form-field floatLabel="auto" *ngIf="selectedPlatform=='mdx2'">
				<mat-select placeholder="EntityType" name="entitytype" [(ngModel)]="entityType" [formControl]="entityTypeFormCtrl">
					<mat-option *ngFor="let entityType of entityTypes[selectedPlatform]" [value]="entityType.value">
						{{ entityType.viewValue }}
					</mat-option>
				</mat-select>
				<mat-error *ngIf="entityTypeFormCtrl.hasError('required')">
					EntityType should not be empty
				</mat-error>
		</mat-form-field>
		<mat-form-field floatLabel="auto">
			<input matInput placeholder="EntityID" name="entityid" [(ngModel)]="entityID" [formControl]="entityIDFormCtrl">
			<mat-error *ngIf="entityIDFormCtrl.hasError('required') || entityIDFormCtrl.hasError('notNumber')">
				EntityID should be a number.
			</mat-error>
		</mat-form-field>
		<button type="submit" mat-raised-button color="primary" [disabled]="disableSubmit">Submit</button>
	</form>
</div>

<div class="cmqueue-container-mdx2" *ngIf="mdx2DataSource">
	<mat-table [dataSource]="mdx2DataSource">

		<ng-container matColumnDef="IndexID">
			<mat-header-cell *matHeaderCellDef>IndexID</mat-header-cell>
			<mat-cell *matCellDef="let recordset"> {{recordset.IndexID}} </mat-cell>
		</ng-container>

		<ng-container matColumnDef="ObjectID">
			<mat-header-cell *matHeaderCellDef>ObjectID</mat-header-cell>
			<mat-cell *matCellDef="let recordset"> {{recordset.ObjectID}} </mat-cell>
		</ng-container>

		<ng-container matColumnDef="ShouldDelete">
			<mat-header-cell *matHeaderCellDef>ShouldDelete</mat-header-cell>
			<mat-cell *matCellDef="let recordset"> {{recordset.ShouldDelete}} </mat-cell>
		</ng-container>

		<ng-container matColumnDef="CommandStatus">
			<mat-header-cell *matHeaderCellDef>CommandStatus</mat-header-cell>
			<mat-cell *matCellDef="let recordset"> {{recordset.CommandStatus}} </mat-cell>
		</ng-container>

		<ng-container matColumnDef="ObjectType">
			<mat-header-cell *matHeaderCellDef>ObjectType</mat-header-cell>
			<mat-cell *matCellDef="let recordset"> {{recordset.ObjectType}} </mat-cell>
		</ng-container>

		<ng-container matColumnDef="CreationDate">
			<mat-header-cell *matHeaderCellDef>CreationDate</mat-header-cell>
			<mat-cell *matCellDef="let recordset"> {{recordset.CreationDate}} </mat-cell>
		</ng-container>

		<ng-container matColumnDef="CompletionDate">
			<mat-header-cell *matHeaderCellDef>CompletionDate</mat-header-cell>
			<mat-cell *matCellDef="let recordset"> {{recordset.CompletionDate}} </mat-cell>
		</ng-container>

		<mat-header-row *matHeaderRowDef="mdx2DisplayedColumns"></mat-header-row>
    	<mat-row *matRowDef="let row; columns: mdx2DisplayedColumns;"></mat-row>

	</mat-table>
</div>