mat-toolbar {
	padding: 0
}

mat-grid-list {
	width: 100%;
	height:100%;
}

mat-sidenav {
	width: 500px
}

.app-component-header {
	height: 10%
}

.app-component-content {
	height: 90%
}

a {
	text-decoration: none
}
