<mat-toolbar class="app-component-header" color="primary">{{ title }}!
	<div class="app-component-header-nav">
		<button mat-button [matMenuTriggerFor]="menu" color="accent">Navigation</button>
		<mat-menu #menu="matMenu">
			<a routerLink="/home" routerLinkActive="active"><button mat-menu-item>Home</button></a>
			<a routerLink="/ecsentityinfo" routerLinkActive="active"><button mat-menu-item>Entity Info (ECS)</button></a>
			<a routerLink="/cmqueue" routerLinkActive="active"><button mat-menu-item>Entity Sync Logs</button></a>
			<a routerLink="/syncentity" routerLinkActive="active"><button mat-menu-item>Sync Entity</button></a>
			<a routerLink="/updateads" routerLinkActive="active"><button mat-menu-item>Update Ads (SAS)</button></a>
			<a routerLink="/entityhistory" routerLinkActive="active"><button mat-menu-item>SAS History</button></a>
			<!--<button mat-menu-item>Rufus</button>-->
			<!--<button mat-menu-item>MRAID SDK Emulator</button>-->
			<!--<button mat-menu-item>Breadfruit</button>-->
		</mat-menu>
	</div>
</mat-toolbar>


<mat-sidenav-container class="app-component-content">
	<mat-sidenav [(opened)]="opened" #appNotifcationsSideNav>
		<app-notifications [msgStack]="msgStack"></app-notifications>
	</mat-sidenav>
	<mat-sidenav-content>
			<button mat-button (click)="appNotifcationsSideNav.toggle()" color="primary">>></button>
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>

