<div class="dashboard-container">
	<div class="status-container">
		<p class="container-label">Status</p>
		<mat-divider></mat-divider>
		<mat-list>
			<mat-list-item *ngFor="let connection of connections">
				<mat-icon matListIcon svgIcon="{{ connection.icon }}"></mat-icon>
				<p>{{ connection.message }}</p>
			</mat-list-item>
		</mat-list>
	</div>
	<div class="apps-container">
		<p class="container-label">Tools</p>
		<mat-divider></mat-divider>
		<div class="apps-container-sub">
			<a (click)="genSessionToken()"><button mat-raised-button class="appnav-button">SAS Session Token</button></a>
			<a *ngFor="let nav of appsNav" [routerLink]="nav.link" routerLinkActive="active">
				<button mat-raised-button class="appnav-button">{{ nav.view }}</button>
			</a>
		</div>
	</div>	
</div>
