@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
	margin: 0;
	font: 500 16px/28px Verdana, Geneva, Tahoma, sans-serif;
}

.root-container {
	height: 100vh
}

.json {
	font-size: .8em;
	background-color: #cbd2f9;
	overflow: auto;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	padding: 2px 15px;
	color: #000;
}

.blankspacebaby {
	height: 20px;
}

.mat-dialog-container {
	padding: 10px !important;
	overflow: hidden !important;
}

.mat-header-row {
	background-color: #3f51b5
}

.mat-header-cell {
	color: #ffffff;
	font-size: 1em;
}

.mat-header-row, .mat-row {
	min-height: 35px !important;
}