@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
	margin: 0;
	font: 500 16px/28px Roboto,"Helvetica Neue",sans-serif
}

.root-container {
	height: 100vh
}

.json {
	font-size: .8em;
	background-color: #131f1f1c;
	overflow: auto;
}
